.Navbar {
    position: fixed!important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.Navbar a {
    color: #231E1F!important;
}
.Navbar a:hover {
    color: #FFCC33!important;
}
.avatar {
    width: 30px;
    height: 30px;
}
.jobIcon {
    width: 30px;
    height: 30px;
}