.App {
    margin-top: 100px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #231E1F!important;
}
/* Textarea Custom */
.textareaAubergine {
    width: 100%;
    height: 200px;
    outline: none;
}
.textareaAubergine:focus {
    border: 2px solid #231E1F;
}

/*  ########################## Input Custom ########################## */
.input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    outline: none;
}
.input:focus{
    border: 2px solid #aaa;
}

/*** PURPLE ***/
.inputPurple {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
}
.inputPurple:focus {
    border: 2px solid purple;
}

/*** ORANGE ***/
.inputOrange {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
}
.inputOrange:focus {
    border: 2px solid orange;
}

/*** RED ***/
.inputRed {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
}
.inputRed:focus {
    border: 2px solid red;
}

/*** BLUE ***/
.inputBlue {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
}
.inputBlue:focus {
    border: 2px solid dodgerblue;
}

/*** AUBERGINE ***/
.inputAubergine {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
}
.inputAubergine:focus {
    border: 2px solid #231E1F;
}

/*** AMBER ***/
.inputAmber {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
}
.inputAmber:focus {
    border: 2px solid #FFC10D;
}

/* ########################## Input With icon ##########################*/

.inputContainer {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
}

/* ########################## Button Custom  ########################## */
.button {
    width: 100%;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: .625rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.button:hover {
    opacity: 0.8;
}

/* ######################### All the colors ####################### */
.purple {
    background-color: purple!important;
    color: white!important;
}
.purple:focus{
    outline-color: purple!important;
}
.orange {
    background-color: orange!important;
    color: white!important;
}
.orange:focus{
    outline-color: orange!important;
}
.red {
    background-color: red;
    color: white!important;
}
.red:focus{
    outline-color: red!important;
}
.blue {
    background: dodgerblue!important;
    color: white!important;
}
.blue:focus{
    outline-color: dodgerblue!important;
}
.aubergine {
    background-color: #231E1F!important;
    color: white!important; /* Or sunglow : #FFCC33 */
}
.aubergine:focus{
    outline-color: #231E1F!important;
}
.aubergine_amber {
    background-color: #231E1F!important;
    color: #FFCC33!important;
}
.aubergine_amber:focus{
    outline-color: #231E1F!important;
}
.amber {
    background-color: #FFC10D!important;
    color: black!important;
}
.amber:focus{
    outline-color: #FFC10D!important;
}