.Button {    
    width: 100%;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    background-color: green;
    color: #ffffff;
}

.Danger {
    background-color: red;
    color: #ffffff;
}